In [13]:
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup as bs
import time
import pandas as pd

In [14]:
def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
    executable_path = {"executable_path": "chromedriver"}
    return Browser("chrome", **executable_path, headless=False)

In [31]:
def scrape_info():
    browser = init_browser()

#     URL for the newspage of NASA's Mars Exploration Project
    url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
    browser.visit(url)

#     time.sleep(1)

    # Scrape page into Soup
    html = browser.html
    soup = bs(html, "html.parser")

    # Get the latest news title
    news_title = soup.find_all('div', {"class": "content_title"})
    news_title[0].text

    # Get the latest paragraph text
    news_para = soup.find_all('div', {"class": "article_teaser_body"})
    news_para[0].text

    # Store data in a dictionary
    mars_data = {
        "news_title": news_title[0],
        "news_para": news_para[0]
    }

    # Close the browser after scraping
#     browser.quit()

    # Return results
    return mars_data
    print(mars_data)
#     return news_title

In [7]:
## Nasa Mars News Website Scrape ##

In [33]:
browser = init_browser()

#     URL for the newspage of NASA's Mars Exploration Project
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

time.sleep(1)

# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

# Get the latest news title
news_title = soup.find_all('div', {"class": "content_title"})
news_title[0].text

# Get the latest paragraph text
news_para = soup.find_all('div', {"class": "article_teaser_body"})
news_para[0].text

print(news_title[0].text)
print(news_para[0].text)

NASA Updates Mars 2020 Mission Environmental Review
NASA and the Department of Energy have completed a more detailed risk analysis for the Mars 2020 rover launch from Florida.

In [ ]:
## Website Link for Nasa Mars Picture Scrape ##

In [35]:
browser = init_browser()
base_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(base_url)

time.sleep(1)
full_image = browser.find_by_id("full_image")

full_image.click()
time.sleep(5)
more_info_button = browser.find_link_by_partial_text("more info")

more_info_button.click()

# # Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

rel_image = soup.select_one("figure.lede a img").get("src")
# print(rel_image)
#page > section.content_page.module > div > article > figure > a > img

# # Use splinter to navigate the site and find the image url for the current Featured Mars Image
featured_image_url = "https://www.jpl.nasa.gov" + rel_image
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18429_hires.jpg

In [8]:
## Nasa Mars Weather Twitter Scrape ##

In [68]:
browser = init_browser()
twit_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(twit_url)

time.sleep(1)

html = browser.html
soup = bs(html, "html.parser")

weath_tweet = soup.find("p", class_ = "TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")

print(weath_tweet.text)

InSight sol 353 (2019-11-24) low -100.6ºC (-149.1ºF) high -23.3ºC (-10.0ºF)
winds from the SSE at 5.8 m/s (13.1 mph) gusting to 21.4 m/s (47.9 mph)
pressure at 6.70 hPapic.twitter.com/NPmuRAuvQ7

In [ ]:
## Mars Facts Table Scrape ##

In [9]:
browser = init_browser()
facts_url = "https://space-facts.com/mars/"
browser.visit(facts_url)

time.sleep(1)

html = browser.html
soup = bs(html, "html.parser")

# mars_fact_table = soup.find('table', {"id": "tablepress-p-mars"})

# print(mars_fact_table.text)
tables = pd.read_html(facts_url)[0]
tables

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [10]:
tables.columns = ['Field', 'Value']
tables = tables.set_index('Field')
tables

                                              Value
Field
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [11]:
html_table = tables.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Field</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [12]:
# remove '\n's for aesthetic enhancement:

html_table = html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Field</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [ ]:
## USGS Mars Hemispheres Website Scrape ##

In [19]:
browser = init_browser()
hemis_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemis_url)

time.sleep(1)

# html = browser.html
hemis_soup = bs(html, "html.parser")

hemis = hemis_soup.find_all('div', class_='description')
hemis

# print(hemis.text)

[<div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><h3>Cerberus Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p></div>,
 <div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><h3>Schiaparelli Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p></div>,
 <div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><h3>Syrtis Major Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p></div>,
 <div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><h3>Valles Marineris Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p></div>]

In [ ]:
hemisphere_image_urls = [
    {"title": {img1_title}, "img_url": {img1_url}},
    {"title": {img2_title}, "img_url": {img2_url}},
    {"title": {img3_title}, "img_url": {img3_url}},
    {"title": {img4_title}, "img_url": {img4_url}},
]