In [72]:
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup as bs
import time
import pandas as pd

In [65]:
def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
    executable_path = {"executable_path": "chromedriver"}
    return Browser("chrome", **executable_path, headless=False)

In [31]:
def scrape_info():
    browser = init_browser()

#     URL for the newspage of NASA's Mars Exploration Project
    url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
    browser.visit(url)

#     time.sleep(1)

    # Scrape page into Soup
    html = browser.html
    soup = bs(html, "html.parser")

    # Get the latest news title
    news_title = soup.find_all('div', {"class": "content_title"})
    news_title[0].text

    # Get the latest paragraph text
    news_para = soup.find_all('div', {"class": "article_teaser_body"})
    news_para[0].text

    # Store data in a dictionary
    mars_data = {
        "news_title": news_title[0],
        "news_para": news_para[0]
    }

    # Close the browser after scraping
#     browser.quit()

    # Return results
    return mars_data
    print(mars_data)
#     return news_title

In [33]:
browser = init_browser()

#     URL for the newspage of NASA's Mars Exploration Project
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

time.sleep(1)

# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

# Get the latest news title
news_title = soup.find_all('div', {"class": "content_title"})
news_title[0].text

# Get the latest paragraph text
news_para = soup.find_all('div', {"class": "article_teaser_body"})
news_para[0].text

print(news_title[0].text)
print(news_para[0].text)

NASA Updates Mars 2020 Mission Environmental Review
NASA and the Department of Energy have completed a more detailed risk analysis for the Mars 2020 rover launch from Florida.

In [35]:
browser = init_browser()
base_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(base_url)

time.sleep(1)
full_image = browser.find_by_id("full_image")

full_image.click()
time.sleep(5)
more_info_button = browser.find_link_by_partial_text("more info")

more_info_button.click()

# # Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

rel_image = soup.select_one("figure.lede a img").get("src")
# print(rel_image)
#page > section.content_page.module > div > article > figure > a > img

# # Use splinter to navigate the site and find the image url for the current Featured Mars Image
featured_image_url = "https://www.jpl.nasa.gov" + rel_image
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18429_hires.jpg

In [68]:
browser = init_browser()
twit_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(twit_url)

time.sleep(1)

html = browser.html
soup = bs(html, "html.parser")

weath_tweet = soup.find("p", class_ = "TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")

print(weath_tweet.text)

InSight sol 353 (2019-11-24) low -100.6ºC (-149.1ºF) high -23.3ºC (-10.0ºF)
winds from the SSE at 5.8 m/s (13.1 mph) gusting to 21.4 m/s (47.9 mph)
pressure at 6.70 hPapic.twitter.com/NPmuRAuvQ7

In [77]:
browser = init_browser()
facts_url = "https://space-facts.com/mars/"
browser.visit(facts_url)

time.sleep(1)

html = browser.html
soup = bs(html, "html.parser")

# mars_fact_table = soup.find('table', {"id": "tablepress-p-mars"})

# print(mars_fact_table.text)
tables = pd.read_html(facts_url)[0]
tables

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers